<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js 3 Fundamentals</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <input @keyup.enter="addNewItem" v-model="newItem" placeholder="Add an item"  />
        <button @click="addNewItem">Add item</button>
        <p>
            {{ newItem }}
        </p>
        <p v-if="items.length == 0">No items found </p>
        <ul v-else>
            <li v-for="(item, key) in items" :key="key"> {{ item }} </li>
        </ul>
      

        <!-- Another option for conditionally displaying an element is the v-show directive. The usage is largely the same -->
        <!-- The difference is that an element with v-show will always be rendered and remain in the DOM; v-show only toggles the display CSS property of the element. -->

    </div>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    items: [],
                    newItem: "",
                }
            },
            methods: {
                // Arrow method will not work here basically we cannot called this keywords here
                addNewItem(){
                    if (this.newItem.trim() ==""){
                        alert("please add item")
                        return
                    }
                    this.items.push(this.newItem)
                    this.newItem=''
                }
            },
        })
        app.mount('#app')
    </script>
</body>
</html>
